.slider-container{
    position: relative;
    border: 1px solid red;
    width: 800px;
    height: 400px;
}

.slider-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ctrl-container{
    border: 1px solid blue;
}

.ctrl-img{
    width:70px;
    height:40px;
}